<header class="box">
    <div id="character-name">
        <input name="character-name">
        <label for="character-name">Character Name</label>
    </div>

    <div id="character-classlevel">
        <input name="character-classlevel">
        <label for="character-classlevel">Class &amp; Level</label>
    </div>

    <div id="character-background">
        <input name="character-background">
        <label for="character-background">Background</label>
    </div>

    <div id="character-playername">
        <input name="character-playername">
        <label for="character-playername">Player Name</label>
    </div>

    <div id="character-race">
        <input name="character-race">
        <label for="character-race">Race</label>
    </div>

    <div id="character-alignment">
        <input name="character-alignment">
        <label for="character-alignment">Alignment</label>
    </div>

    <div id="character-experience">
        <input name="character-experience">
        <label for="character-experience">Experience</label>
    </div>
</header>
